<% if flash[:notice] %>
  <div id="notice_wrapper" class="notification is-success is-light has-text-centered">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div id="notice_wrapper" class="notification is-danger is-light has-text-centered">
    <button class="delete"></button>
    <%= alert %>
  </div>
<% end %>
<% if flash[:error] %>
  <div id="notice_wrapper" class="notification is-danger is-light has-text-centered">
    <button class="delete"></button>
    <%= flash[:error] %>
  </div>
<% end %>